@media (max-width: 786px) {
    .section {
        width: 100%;
    }
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-item {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    transition: color 2s;
}
.nav-item:hover {
    cursor: pointer;
    color: green;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
}
.section {
    width: 50%;
}
.image {
    border-radius: 100px;
}
.text{
    line-height: 45px;
    text-align: justify;
}
.section-list {
    list-style: none;
}
.section-item {
    margin-left: -35px;
    line-height: 45px;
}
.span {
    font-weight: 700;
}